html { 
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
    font-family: helvetica;
    color: white;
}

p {
    font-family: verdana;
}

.pic {
    text-align: center;
}

.text {
    color: white;    
    padding: 10px;
    text-align: center;
}

.synopsis-text{
    color: white;    
    padding: 15px;
    background-color: rgba(62, 58, 150, 0.7);
    -moz-border-radius: 25px; 
    border-radius: 25px;
}

.centered-text {
    background-color: rgba(62, 58, 150, 0.7);
    padding: 20px;
    -moz-border-radius: 15px; 
    border-radius: 15px;
}

img {
    display: inline-block;
    position: relative;
    margin: 3%;
    width: 25%;
}

.img-circle {
    border-radius: 50%;
}